<!DOCTYPE html>
<html lang="es">
    <head>
      <title>SALA TEABAG</title>
      <meta charset="utf-8">
      <meta name="description" content="Práctica de la asignatura SIBW">
      <meta name="keywords" content="HTML,CSS,JavaScript">
      <meta name="author" content="Juan Carlos Hermoso Quesada y Jonathan Ordóñez Cubero">
      <script type="text/javascript" src="js/script.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <link rel="stylesheet" href="css/estilo.css">
      <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
              rel="stylesheet">
      {% if error == 404 %}
            <link rel="stylesheet" href="css/estilo404.css">
      {% else %}
            <link rel="stylesheet" href="css/estilo.css">
      {% endif %}
    </head>
    <body>
        <!--cabecera-->
        {{ include("header.html") }}
        {% block context %}

        {% endblock %}
        <!--pie de pagina-->
        {{ include("footer.html") }}
    </body>
</html>
