<!DOCTYPE html>
<html lang="es">
<head>
    <title>SALA TEABAG</title>
    <meta charset="utf-8">
    <meta name="description" content="Práctica de la asignatura SIBW">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Juan Carlos Hermoso Quesada y Jonathan Ordóñez Cubero">
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" href="css/estilo.css">
    {% if error == 404 %}
    <link rel="stylesheet" href="css/estilo404.css">
    {% else %}
    <link rel="stylesheet" href="css/estilo.css">
    {% endif %}
</head>
<body>
<!--cabecera-->
{{ include("header.html") }}
{% block context %}

{% endblock %}
<!--pie de pagina-->
{{ include("footer.html") }}
</body>
</html>
