{% extends 'base.html' %} {% block context %}
<!--zona principal-->
<main id="nm_evento">
    <section class="contacto">
        <form  id="event_form" class="contact_form" action="/actualizar_comentario" method="POST" name="form">
            <div>
                <h1>{{titulo}}</h1>
            </div>
            <div>
                <label for="texto">Texto:</label>
                <textarea type="textarea" name="texto" cols="40" rows="6" placeholder="">{{comentarios.texto}}</textarea>
            </div>
            <div hidden>
                <input type="number" name="id" value="{{comentarios.id}}" />
            </div>

            <div>
                <button class="submit"  >Enviar</button>
            </div>
        </form>
    </section>
</main>

{% endblock %}