{% extends 'base.html' %} {% block context %}
        <!--zona principal-->
        <main>
            <!--panel auxiliar-->
            {{ include("sidebar.html") }}
            <!--panel de eventos-->
            <section id = "eventos">
                {% for n in eventos %}
                <a href="" class = "enlace" onclick="verEvento({{n.id}}, event)"><div class="container">
                  {% for m in galeria if (m.id_evento == n.id) and (m.tipo == 'portada') %}
                    <img src='{{m.ruta}}' alt="Avatar" class="image" >
                  {% endfor %}
                  <div class="overlay">{{n.grupo}} </div>

                </div></a>
                <form id="formEvento" action="" method="POST" name="formEvento" hidden>
                    <input id="idEvento" name="idEvento" value="">
                </form>
                {% endfor %}
            </section>
        </main>

{% endblock %}
