*{
    margin:0;
    padding: 0;
    
}
header {
    height: 30vh;
    background-color: antiquewhite;
}

header img {
    position: absolute;
    height: 22vh;
    margin-top: 3vh;
    margin-left: 93.8vh;
}

header h1 {
    padding-top: 7vh;
    font-size: 15vh;
    color: black;
    text-align: center;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    padding-top: 2vh;
    font-family: sans-serif;
}

header ul li {
    width:100%;
}

li a {
    text-decoration: none;
}

li a:visited {
    color:black;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: gainsboro;
}

#aux {
    display:flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    background-color: azure;
    margin-left: 5vh;
    font-family: monospace;
    margin-top: 3vh;
} 

#aux img {
    width: 60%;
    padding-top: 20vh;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: 10vh;
  right: 10vh;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#eventos {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: 10vh
}

.container {
  position: relative;
  width: 70vh;
  height: 50vh;
  margin-top: 3vh;
  margin-left: 3vh;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15vh;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.container:hover .overlay {
  opacity: 1;
}

footer {
    text-align: center;
    background-color: antiquewhite;
    font-family: monospace;
    height: 10vh;
    padding-top: 5vh;
    font-size:2.5vh;
}
